<app-navbar />

<br>
<h3 class="text-3xl pl-5">User Management</h3>
<br>

<div class="flex justify-between items-center">
    <div class="flex-1">
        <p class="pl-5 text-xl">All users <span class="text-secondary">{{ users.length }}</span></p>
    </div>
    <div class="flex flex-1 justify-end gap-2">
        <input type="text" placeholder="Search" class="input input-bordered w-full max-w-xs" (input)="search($event)" />

        <a routerLink="/register-user" class="btn btn-primary">
            <span>
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z"
                        fill="#ffffff" />
                </svg>
            </span>
            Add user
        </a>
    </div>
</div>

<br>


<table class="table table-zebra w-full">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last active</th>
            <th>Date added</th>
            <th>Account status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td>{{user.firstname}} {{ user.lastname }}</td>
            <td>{{ user.last_active | date: 'MM/dd/yyyy, h:mm a' }}</td>
            <td>{{ user.date_added | date: 'MM/dd/yyyy, h:mm a' }}</td>
            <td>
                @if(user.status == "active") {
                <div class="badge badge-success">{{ user.status }}</div>
                } @else {
                <div class="badge badge-error">{{ user.status }}</div>
                }
            </td>
            <td class="flex gap-5">
                <a class="link link-primary" [routerLink]="['/edit-user', user.user_id]">Edit</a>
            </td>
        </tr>
        } @empty {
        <tr>
            @if (searchQuery.length > 0) {
            <td colspan="5" align="center">
                No result for "{{ searchQuery }}"
            </td>
            }
        </tr>
        }
    </tbody>
</table>