<app-navbar pageTitle="Update Password" [canPop]="true"></app-navbar>

<div class="container mt-16">
    <br>

    <!-- Error display -->
    @if (error) {
    <div class="p-5 rounded bg-rose-500">
        {{error}}
    </div>
    } @else if (message) {
        <div class="p-5 rounded bg-green-500">
            {{message}}
        </div>
    }
    @else {
    <div class="p-5">
        <p class="invisible">error</p>
    </div>
    }
    
    <br>
    <form [formGroup]="updatePasswordForm" (submit)="onSubmit()">
        <input type="password" formControlName="currentPassword" placeholder="Current Password" class="form-input">
        <br><br>
        <input type="password" formControlName="newPassword" placeholder="New Password" class="form-input">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-input">

        <input type="submit" value="Submit" class="form-btn">
    </form>
</div>