<div class="h-screen w-full flex justify-center items-center">
    
    <!-- Sign In Form -->
    <form [formGroup]="signInFormGroup" (submit)="signIn()">
        <h3 class="text-3xl text-center">Admin</h3>
        <br>

        @if (error) {
            <div class="alert alert-error">
                {{ error }}
            </div>
        }
        
        <!-- Email -->
        <label class="form-control w-80">
            <div class="label">
                <span class="label-text">Username</span>
            </div>
            <input type="text" formControlName="username" class="input input-bordered w-full" />
            <div class="label">
                <!-- <span class="label-text-alt">Email is required</span> -->
            </div>
        </label>

        <!-- Password -->

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">Password</span>
            </div>
            <input type="password" formControlName="password" class="input input-bordered w-full" />
            <div class="label">
                <!-- <span class="label-text-alt">Password is required</span> -->
            </div>
        </label>

        <button class="btn btn-primary w-full">Sign In</button>
    </form>
</div>