<app-navbar />
<br>
<h3 class="text-3xl pl-5">Expenses</h3>
<br>

<div class="flex justify-between items-center">
    <div class="flex-1">
        <!-- <p class="pl-5 text-xl">All users <span class="text-secondary">12</span></p> -->
    </div>
    <div class="flex flex-1 justify-end gap-2">
        <div>
            <input type="text" placeholder="Search" class="input input-bordered w-full max-w-xs" (input)="search($event)" />
        </div>

        <div class="flex gap-5 items-center"> 
            <select name="" id="" class="select select-bordered" (change)="filter($event)">
                <option value="">-- Filter by Category --</option>
                @for (item of categories; track $index) {
                    <option [value]="item">{{ item }}</option>
                }
            </select>

            <!-- <input type="month" class="input input-bordered" (change)="filterDate($event)"> -->
        </div>
        <!-- Table -->
      

        <!-- <button class="btn btn-primary">
            <span>
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z"
                        fill="#ffffff" />
                </svg>
            </span>
            Add user
        </button> -->
    </div>
</div>

<table class="w-full table table-zebra">
    <thead>
        <tr>
            <th>Added by</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for(item of expenses; track $index) {
            
        <tr>
            <td>{{ item.firstname }} {{ item.lastname }}</td>
            <td>{{ item.note }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.created_at | date: 'MM/dd/yyyy, h:mm a' }}</td>
            <td>{{ item.amount | currency:'PHP':'symbol' }}</td>
            <td>
                @if(item.status == "approved") {
                <div class="badge badge-success badge-outline">{{ item.status }}</div>
                }

                @else if (item.status == "rejected") {
                    <div class="badge badge-error badge-outline">{{ item.status }}</div>
                }

                @else {
                <div class="badge badge-outline">{{ item.status }}</div>
                }

            </td>

            <td>
                <a [routerLink]="['/expense-detail', item.record_id]" class="link link-primary">View detail</a>
            </td>
        </tr>
        } @empty {
        <p>Wala pay activities</p>
        }
    </tbody>
</table>