<div class="card w-full">
    <div class="card-body bg-base-200 rounded-md">

        <div class="flex justify-between">
            <p class="flex gap-2 items-center">Recent Activities <span class="tooltip" data-tip="Recent transactions made by users">
                <svg width="16" height="16" fill="none" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999Zm0 1.5a8.502 8.502 0 1 0 0 17.003A8.502 8.502 0 0 0 12 3.5Zm-.004 7a.75.75 0 0 1 .744.648l.007.102.003 5.502a.75.75 0 0 1-1.493.102l-.007-.101-.003-5.502a.75.75 0 0 1 .75-.75ZM12 7.003a.999.999 0 1 1 0 1.997.999.999 0 0 1 0-1.997Z"
                        fill="#ffffff" />
                </svg>
            </span>
        </p>

            <div class="flex gap-2">
            </div>
        </div>


        <!-- Table -->
        <table class="w-full table table-zebra">
            <thead>
                <tr>
                    <th>Added by</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @for(item of data; track $index) {
            
                    <tr>
                        <td>{{ item.firstname }} {{ item.lastname }}</td>
                        <td>{{ item.note }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.created_at | date: 'MM/dd/yyyy, h:mm a' }}</td>
                        <td>{{ item.amount | currency:'PHP':'symbol' }}</td>
                        <td>
                            @if(item.status == "approved") {
                            <div class="badge badge-success badge-outline">{{ item.status }}</div>
                            }
            
                            @else if (item.status == "rejected") {
                                <div class="badge badge-error badge-outline">{{ item.status }}</div>
                            }
            
                            @else {
                            <div class="badge badge-outline">{{ item.status }}</div>
                            }
            
                        </td>
            
                        <td>
                            <a [routerLink]="['/expense-detail', item.record_id]" class="link link-primary">View detail</a>
                        </td>
                    </tr>
                    } @empty {
                    <p>Wala pay activities</p>                    
                }
            </tbody>
        </table>
    </div>

<app-expense-detail-modal [show]="expenseDetailModalVisible" (onClose)="onDialogClosed()" expenseId="1"/>